body * {
    transition: all .3s ease-in-out;
}
.hidden{
    display: none;
}
.answers {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 2
}
input#options{
    position: relative;
}
.red{
    color: red;
}
.red:hover, .red:active, .red:focus{
    color: red;
}
.green{
    color: green;
}
.green:hover, .green:active, .green:focus{
    color: green;
}